<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Noticias</title>
</head>
<body>
    <h1>Noticias</h1>

    <article>
        <h2>NO ES BUENO LEER!!!!!!!</h2>
        <img src="{{ url_for('static', filename='imagenes/noticia1_muerte.png') }}" alt="Noticia 1">
        <p>Joven que le gusta leer no deja de leer libros y no está en la vida real; siempre vive leyendo y su familia piensa internarlo en un psiquiátrico.</p>
    </article>
    <h1>Noticias</h1>
    <article>
        <h2>DEJENLO EN PAZ</h2>
        <img src="{{ url_for('static', filename='imagenes/notica2_leer.png') }}" alt="Noticia 2">
        <p>Señora de 55 años presenta una denuncia a su marido por no hacer nada por la familia, ya que se le pasa leyendo el periódico de la razón cada día
             También insinúa que ya ni trabaja. Autoridades señalaron a la persona que el hábito de leer está bien para la sociedad y le dijeron a la señora que deje en paz a su marido.</p>
    </article>
    <h1>Noticias</h1>
    <article>
        <h2>ACCIDENTE DE TRABAJO</h2>
        <img src="{{ url_for('static', filename='imagenes/noticia3_jovencae.png') }}" alt="Noticia 3">
        <p>Trabajador de la razón cae en plena avenida después de ver un perro gordo que pasaba por el lugar. Autoridades señalan que no se harán cargo de los gastos debido a que no
             hay un demandado y que es un accidente de trabajo.</p>
        <p>Los dueños del periódico señalaron que el chico sufre de inestabilidad mental y que es normal que pasen estos acontecimientos.</p>
    </article>
</body>
</html>