<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="El Tintero - ¿Quiénes somos?">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes Somos?</title>
</head>
<body>
    <h1>¿Quiénes Somos?</h1>
    <p>El Tintero es una empresa ficticia dedicada a la venta de libros, fundada en el año 2010 con la misión de promover la lectura y la cultura en la comunidad. Inició como una pequeña librería local, enfocada en ofrecer títulos cuidadosamente seleccionados, y con el tiempo, se expandió a través de una plataforma en línea. Hoy en día, "El Tintero" ofrece una amplia variedad de libros, desde literatura clásica hasta novedades contemporáneas, manteniéndose fiel a su visión de crear un espacio accesible para los amantes de la lectura.</p>

    <p>Misión: Fomentar el amor por la lectura proporcionando a nuestros clientes una cuidadosa selección de libros que enriquezcan el conocimiento, la imaginación y el entretenimiento, al mismo tiempo que ofrecemos un servicio personalizado y de calidad, tanto en nuestra tienda física como en nuestra plataforma digital.</p>
    
    <p>Visión: Ser la librería de referencia a nivel nacional, reconocida por nuestra pasión por los libros y nuestra contribución a la promoción de la cultura y la educación. Aspiramos a expandirnos globalmente, brindando acceso a una variedad ilimitada de títulos y recursos literarios para lectores de todas las edades y gustos.</p>

    <h2>Equipo de Trabajo</h2>
    <p>Descripción del equipo de trabajo con imágenes.</p>
    
    <img src="{{ url_for('static', filename='imagenes/equipo1.png') }}" alt="Equipo 1">
    <P>equipo unido</P>
    <img src="{{ url_for('static', filename='imagenes/equipo2.png') }}" alt="Equipo 2">
    <p>conexion entre todos los miembros</p>
    <img src="{{ url_for('static', filename='imagenes/equipo3.png') }}" alt="Equipo 3">
    <p>colaboracion de cada uno de nosotros</p>
    
</body>
</html>